/* ListItem styles */
.listitem {
  text-decoration: none;
  width: 210px;
  background: var(--card-color2);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem auto 0 auto;
  cursor: pointer;
  display: inline-block;
}

.listitem:hover {
  transform: scale(1.03);
}

.listitem__info {
  color: var(--text-color2);
  text-align: center;
  background: var(--card-color2);
}

.info__name {
  font-size: 1rem;
  padding: 5px;
}

.info__rating {
  color: var(--text-color2);
  padding: 5px;
}

.likeb {
  margin-top: 5px;
  background: url("https://fony-kartinki.ru/_ph/8/2/77178766.jpg");
  color: darkblue;
  height: 50px;
  width: 70%;
  font-weight: bold;
  border: 1px solid black;
}

.nolike_button {
  background: url("https://image.freepik.com/free-vector/white-star-background_23-2147613386.jpg");
}

.liked {
  margin-top: 10px;
  margin-left: 10px;
  /* width: 70%; */
  color: rgb(236, 79, 79);
  background: transparent;
  border: none;
  font-size: 2rem;
}
