.loader__img {
  display: block;
  margin: 6rem auto;
  width: 10vw;
  height: 10vw;
  background-color: var(--body2);
}
.loader {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--body2);
}
