.navbar {
  padding: 2rem;
  background: var(--dark-color);
  border-radius: 0 0 35% 0;
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand a {
  font-size: 1.4rem;
  color: var(--text-color2);
  text-decoration: none;
}

.nav__brand a:hover {
  color: var(--secondary-color);
}

.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.links__link a {
  display: block;
  padding: 1rem;
  color: var(--text-color2);
  text-decoration: none;
  margin-left: 0.5rem;
  font-size: 20px;
}

.links__link a:hover {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--body2);
}

.nicknav {
  color: var(--text-color2);
  padding: 0 0.3rem 0 4rem;
}
